@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700|Sansita:100,200,300,400,500,600,700');

/* -------------- Body ------------- */

body {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    color: black;
    background-color: grey;
}

body p {
    font-family: Sansista, sans-serif;
    font-weight: 500;
    color: rgb(57, 68, 80);
}



/* -------------- Container ------------- */

.container-fluid {
    padding: 0;
}

.container, .container-md, .container-sm {
    max-width: 100%;
}
.card {
    padding: 0;
}

/* -------------- Navigation ------------- */


.navbar-dark .navbar-toggler {
    color: rgba(255,255,255,.5);
    border: solid #fff 3px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
}

/* -------------- Lists ------------- */

ul li {
  list-style-type: none;
}

/* -------------- Main Image ------------- */

.hero {
	text-align: center;
	justify-items: center;
	margin-top: 60px;
	margin: 0;
	padding: 0;
	color: #fafafa;
	background: url("../images/trout.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 75vh;
	transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	-moz-box-shadow: 0 0 0 10px;
	-webkit-box-shadow: 0 0 0 10px;
	box-shadow: 0 0 0 10px;
	z-index: -1;
}

/* -------------- Columns and Rows ------------- */

.col {
    padding: 0;
}

.row {
    padding: 0;
    margin: 0;
}

.space {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* -------------- Button ------------- */

.btn {
    margin: 10px;
    padding: 5px;
}

.btn-success {
    margin: 15px;
    padding: 10px;
    border-radius: 0;
}