<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}

<h3>Please add the components to create your fly into each box. <i class="fa fa-smile-o" aria-hidden="true"></i></h3>

<div class="row">
	<form action="{{ url_for('insert_fly', fly_id=fly._id) }}" method="POST" class="col 12">
        <div class="row">
			<div class="input-field col 12"><i class="fa fa-upload" aria-hidden="true"></i>
				<textarea type="text" name="name" id="name" >{{fly.name}}</textarea>
				<label>Fly Name</label>
			</div>
		</div>
        <div class="row">
            <div class="input-field col 12"> <i class="fa fa-list"></i>
				<textarea type="text" name="species" id="species">{{fly.species}}</textarea>
				<label>Taget Fish?</label>
		    </div>
        </div>
        <div class="row">
		</div>
		<div class="row">
			<div class="input-field col 12"> <i class="fa fa-anchor" aria-hidden="true"></i>
				<textarea type="text" name="hook" id="hook">{{fly.hook}}</textarea>
				<label>Hook Size(s)</label>
			</div>
		</div>
        <div class="row">
			<div class="input-field col 12"><i class="fa fa-tint" aria-hidden="true"></i>
				<textarea type="text" name="thread" id="thread">{{fly.thread}}</textarea>
				<label>Thread Colour</label>
			</div>
        </div>
        <div class="row">
			<div class="input-field col 12"><i class="fa fa-bolt" aria-hidden="true"></i>
				<textarea type="text" name="rib" id="rib"  >{{fly.rib}}</textarea>
				<label>Rib Used</label>
		    </div>
        </div>
        <div class="row">
			<div class="input-field col 12"><i class="fa fa-user-circle" aria-hidden="true"></i>
				<textarea type="text" name="head" id="head">{{fly.head}}</textarea>
				<label>Head Material</label>
		    </div>
        </div>
        <div class="row">
			<div class="input-field col 12"> <i class="fa fa-female" aria-hidden="true"></i>
				<textarea type="text" name="body" id="body">{{fly.body}}</textarea>
				<label>Body Material</label>
			</div>
        </div>
        <div class="row">
			<div class="input-field col 12"><i class="fa fa-hourglass" aria-hidden="true"></i>
				<textarea type="text" name="thorax" id="thorax">{{fly.thorax}}</textarea>
				<label>Thorax Material</label>
		    </div>
        </div>
        <div class="row">
			<div class="input-field col 12"><i class="fa fa-check" aria-hidden="true"></i>
				<textarea type="text" name="legs" id="legs">{{fly.legs}}</textarea>
				<label>Number of Legs</label>
		    </div>
        </div>
        <div class="row">
			<div class="input-field col 12"> <i class="fa fa-xing" aria-hidden="true"></i>
				<textarea type="text" name="wings" id="wings">{{fly.wings}}</textarea>
				<label>Wing Material</label>
			</div>
        </div>
        <div class="row">
			<div class="input-field col 12"> <i class="fa fa-envira" aria-hidden="true"></i>
				<textarea type="text" name="hackle" id="hackle">{{fly.hackle}}</textarea>
				<label>Hackle</label>
			</div>
        </div>
         <div class="row">
			<div class="input-field col 12"> <i class="fa fa-link" aria-hidden="true"></i>
				<textarea type="text" name="link" id="link">{{fly.link}}</textarea>
				<label>Link to Instructions</label>
			</div>
	    </div>	
		<div class="row">
			<button class="btn btn-success" type="submit" name="action">Add this Fly  <i class="fa fa-plus"></i>
			</button>
		</div>
	</form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="test/javascript"></script>
{% endblock %}