<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}

<h3>Edit Fly</h3>

<div class="row">
	<form action="{{ url_for('update_fly', fly_id=fly._id) }}" method="POST" class="col 12">
		<div class="row">
			<div class="input-field col 12"> <i class="fas fa-poll"></i>
				<select id="species" name="species">
					<option value="" disabled selected>Choose target Species</option>
                    {% for spec in species %}
                        {% if spec.species == fly.species %}
                            <option value="{{spec.species}}" selected>{{spec.species}}</option>
                            {% else %}
                            <option value="{{spec.species}}" >{{spec.species}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
				<label>Fish Species</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col 12"><i class="fab fa-phoenix-framework"></i>
				<input id="name" name="name" type="text" class="validate" value="{{fly.name}}">
				<label>Fly Name</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col 12"> <i class="fas fa-list"></i>
				<textarea type="text" name="hook" id="hook" >{{fly.hook}}</textarea>
				<label >Hook Size(s)</label>
			</div>
		</div>
        <div class="row">
			<div class="input-field col 12"> <i class="fas fa-list"></i>
				<textarea type="text" name="thread" id="thread">{{fly.thread}}</textarea>
				<label>Thread Colour</label>
			</div>
        </div>
        <div class="row">
			<div class="input-field col 12"><i class="fas fa-list"></i>
				<textarea type="text" name="rib" id="rib">{{fly.rib}}</textarea>
				<label>Rib Used</label>
		    </div>
        </div>
        <div class="row">
			<div class="input-field col 12"> <i class="fas fa-list"></i>
				<textarea type="text" name="body" id="body">{{fly.body}}</textarea>
				<label">Body Material</label>
			</div>
        </div>
        <div class="row">
			<div class="input-field col 12"> <i class="fas fa-list"></i>
				<textarea type="text" name="hackle" id="hackle">{{fly.hackle}}</textarea>
				<label>Hackle</label>
			</div>
        </div>
         <div class="row">
			<div class="input-field col 12"> <i class="fas fa-list"></i>
				<textarea type="text" name="link" id="link">{{fly.link}}</textarea>
				<label>Link to Instructions</label>
			</div>
	    </div>	
		<div class="row">
			<button class="btn btn-success" type="submit" name="action">Submit Edit<i class="fas fa-plus"></i>
			</button>
		</div>
	</form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="test/javascript"></script>
{% endblock %}