<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
    <ul class="card" id="accordion">
        {% for fly in fly %}
        <li>
            <div class="row list-inline">          
                    <div class="col 1  list-inline-item">
                    <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-chevron-circle-down" aria-hidden="true"></i></button>
                    </div>
                    <div class="col 2">
                        <div>
                            <a href="{{url_for('delete_fly', fly_id=fly._id)}}" type="button" class="btn btn-primary">Delete</a>
                            <a href="{{url_for('edit_fly', fly_id=fly._id)}}" type="button" class="btn btn-success">Edit</a>
                        </div>  
                    </div>
                    <div class="task_header col 9  list-inline-item">
                        <strong>{{fly.name}}</strong>
                    </div>
            </div>

            <div class="collapse card card-body" id="collapseExample">
                <span>
                    Hook Size: {{fly.hook}} <br>
                    Thread : {{fly.thread}} <br>
                    Rib: {{fly.rib}} <br>
                    Body: {{fly.body}} <br>
                    Hackle: {{fly.hackle}} <br>
                    Species: {{fly.species}} <br>
                    Link to Instructions: {{fly.link}}
                </span>
            </div>
        </li>
        {% endfor %}
    </ul>
{% endblock %}