<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
    <ul class="card" id="accordion">
        {% for fly in fly %}
        <li>
            <div class="#">    collapsible header            
                    <div class="col s1">
                    <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
  <i class="fas fa-angle-down"></i></button>
                    </div>
                    <div class="col s2">
                        <div class="inline">
                            <a href="{{url_for('delete_fly', fly_id=fly._id)}}" type="button" class="btn btn-primary">Delete</a>
                            <a href="{{url_for('edit_fly', task_id=fly._id)}}" type="button" class="btn btn-success">Edit</a>
                        </div>  
                    </div>
                    <div class="task_header col s9">
                        <strong>{{fly.name}}</strong>
                    </div>
            </div>

            <div class="collapse card card-body" id="collapseExample">
                <span>
                    Hook Size: {{fly.hook}} <br>
                    Thread : {{fly.thread}} <br>
                    Rib: {{fly.rib}} <br>
                    Body: {{fly.body}} <br>
                    Hackle: {{fly.hackle}} <br>
                    Species: {{fly.species}}
                    Link to Instructions: {{fly.link}}
                </span>
            </div>
        </li>
        {% endfor %}
    </ul>
{% endblock %}